{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<head>
    <title>Calendar</title>
</head>
<div id = "calendar_page">
<body>
<span class="calendar_page">

    <div class = "menu-list">
<ul>
    <li><a href="{{ landing_page }}">Home</a></li>
    <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
    <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
    <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
    <li><a href="{{ edit_profile }}">Account settings</a></li>
    <li><a href="{{ create_event }}">Create event</a></li>
    <li><a href="{{ view_event }}">View event</a></li>
</ul>
    </div>


        <?php
            calendar



    <br class="clearBoth" />

    </span></div>
</body>
</html>
{% endblock %}