{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text }}</p>
        {{ error }}
        <form action="{{ action }}" method="{{ method }}">
        {% for code, name in country_names %}
            <option value="{{code}}">Host: {{ name[4] }} On: {{name[1] }} at {{ name[2] }} for: {{ name[3] }}
                <a href='downloadedmessagesindb?MiD={{ name[0] }}'>Accept</a>
                <a href='downloadedmessagesindb?MiD=0{{ name[0] }}'>Reject</a>
        {% endfor %}

        </fieldset>
                <br><br>
                <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
            </fieldset>
        </form>
    </div>
{% endblock %}
