{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text }}</p>
        {{ error }}
        <ul>
            <li><a href="{{ landing_page }}">Home</a></li>
            <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
            <li><a class = "active" href="{{ meeting_requests }}">New Meeting Requests</a></li>
            <li><a href="{{ edit_profile }}">Preferences and account settings</a></li>
            <li><a href="{{ create_event }}">Create event</a></li>
            <li><a href="{{ view_event }}">View event</a></li>
            </ul>
        <form action="{{ action }}" method="{{ method }}">
        {% for code, name in country_names %}
            <option value="{{code}}">Host: {{ name[4] }} On: {{name[1] }} at {{ name[2] }} for: {{ name[3] }}
                <a href='downloadedmessagesindb?MiD={{ name[0] }}'>Accept</a>
                <a href='downloadedmessagesindb?MiD=0{{ name[0] }}'>Reject</a>
        {% endfor %}

        </fieldset>
                <br><br>

            </fieldset>
        </form>
    </div>
{% endblock %}
