{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<p class="curr_page"><a href="{{ landing_page }}">Home</a>
<p class="curr_page"><a href="{{ upcoming_meetings }}">Scheduled Meetings</a>
<p class="curr_page"><a href="{{ meeting_requests }}">New Meeting Requests</a>
<p class="curr_page"><a href="{{ landing_page }}">Preferences and account settings</a></p>
<body>

<div id="page-content-div">
    <h2>{{ page_heading_2 }}</h2>
    <p>{{ page_text }}</p>
    <p>{{ error }}</p>
    <form action="{{ action }}" method="{{ method }}">
        {% for code, name in events %}
        <option value="{{code}}"> {{ name[2] }}  at {{name[0] }} for {{ name[1] }} {{ name[3] }}
            <a href='eventAction?MiD=0{{ name[6] }}'>Turn off Event</a>
            <a href='eventAction?MiD=D{{ name[6] }}'>Delete Event</a>
            {% endfor %}

            {% for code, name in disabled_events %}
        <option value="{{code}}"> {{ name[2] }}  at {{name[0] }} for {{ name[1] }} {{ name[3] }}
            <a href='eventAction?MiD=1{{ name[6] }}'>Turn on Event</a>
            <a href='eventAction?MiD=D{{ name[6] }}'>Delete Event</a>
            {% endfor %}

            </fieldset>
            <br><br>
            <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
            </fieldset>
    </form>

</div>
</body>
</html>


{% endblock %}