{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<ul>
    <li><a href="{{ landing_page }}">Home</a></li>
    <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
    <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
    <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
    <li><a href="{{ edit_profile }}">Preferences and account settings</a></li>
    <li><a href="{{ create_event }}">Create event</a></li>
    <li><a class = "active" href="{{ view_event }}">View event</a></li>
</ul>
<body>

<div id="page-content-div">
    <h2>{{ page_heading_2 }}</h2>
    <p>{{ page_text }}</p>
    <p>{{ error }}</p>
    <form action="{{ action }}" method="{{ method }}">
        {% for code, name in events %}
        <option value="{{code}}"> {{ name[2] }}  at {{name[0] }} for {{ name[1] }} {{ name[3] }}
            <a href='eventAction?MiD=0{{ name[6] }}'>
                <img src="../media/on.png"
                     alt="turn off meeting" width="70" height="20">
            </a>
            <a href='eventAction?MiD=D{{ name[6] }}'>
                <img src="../media/delete.png"
                     alt="delete event" width="20" height="20">
            </a>
            {% endfor %}

            {% for code, name in disabled_events %}
        <option value="{{code}}"> {{ name[2] }}  at {{name[0] }} for {{ name[1] }} {{ name[3] }}
            <a href='eventAction?MiD=1{{ name[6] }}'>
                <img src="../media/off.png"
                     alt="turn on event" width="70" height="20">
            </a>
            <a href='eventAction?MiD=D{{ name[6] }}'>
                <img src="../media/delete.png"
                     alt="delete event" width="20" height="20">
            </a>
            {% endfor %}

            </fieldset>
            <br><br>
            <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
            </fieldset>
    </form>

</div>
</body>
</html>


{% endblock %}