{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">

        <form action="{{ action }}" method="{{ method }}">
        <span class = "form_content">
                <h2>Please login or Register</h2>
            <span class ="form_field">
                <label for="username">Email:</label>
                <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
            </span>
                <span class ="form_field">
                <label for="username">Password:</label>
                <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                </span><br><br>
               <button type=“button” class ="href_button"><a href={{register}}> Register User  </a></button>
                <input type="submit" class = "submit_button" id = "login_homepage"name="submit" value="Login" href = "{{ login }}"></a>
        </span>
            <p>{{ error }} {{ info }}</p>

        </form>
    </div>
{% endblock %}
