{% extends 'banner.html.twig' %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
        ul{
            background-color: #abdde5;
            cursor:pointer;
        }
        li{
            padding:12px;
        }
    </style>
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <form method={{ method }} action={{ action}} enctype='multipart/form-data'>

                <legend>New Meeting Details</legend>
                <br>

            <input id="date" name="date" type="string" value="{{ meetingData[1] }}" size="7" maxlength="10" readonly="readonly">
                <br>

            <br><br>
                <br>
                <br>
            <p>{{ error }}</p>
                <label for="time">Meeting start time:</label>
                <input id="time" name="time" type="string" value="{{ meetingData[2] }}" size="4" maxlength="5">
                <br><br>
                <label for="time">Meeting duration (minutes):</label>
                <input id="duration" name="duration" type="string" value="{{ meetingData[3] }}" size="4" maxlength="5">
                <br><br>

                <div class="container">
                    <br />
                    <br />
                    <div class="form-group">
                        <div name="add_name" id="add_name">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">

                                    <tr>
                                        <td><input type="text"  name="name[]" value={{ userData[0][2] }} class="form-control name_list" /></td>
                                        <td><button type="button" name="add" id="add" class="btn btn-success">Add More</button></td>
                                    </tr>
                                    {% for code, name in userData %}

                                    {% endfor %}
                                </table>


{#                                #}
                            </div>

                        </form>
                    </div>
                </div>

                <label for="subject">Subject:</label>
                <input id="subject" name="subject" type="string" value="{{ meetingData[8] }}" size="30" maxlength="140">
    <br><br>
    <label for="notes">Notes:</label>
    <input id="notes" name="notes" type="string" value="{{ meetingData[7] }}" size="50" maxlength="140">

 <br>
<p>Set to repeat:
<input type="radio" id="never" name="repeat" value="never" checked="true" >
<label for="never">Never</label>
<input type="radio" id="weekly" name="repeat" value="weekly">
<label for="weekly">Weekly</label>
<input type="radio" id="monthly" name="repeat" value="monthly">
<label for="monthly">Monthly</label>
<input type="radio" id="annually" name="repeat" value="annually">
<label for="annually">Annually</label>

<br>

    </p>
    <input type='file' name='file' />
    <br>
                <br>
                <input type="submit"  value="Send" href = "{{ Send }}"></a>
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
        <p class="curr_page"><a href="{{ Calendar }}">Back to calendar view</a></p>
    </div>
    <html>

    </html>

    <script>
        $(document).ready(function() {
            var i = 1;
            var loopvar = {{ loopvar }};
            var userlist = {{ userData }};

                $('#add').click(function () {

                    i++;
                    $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" placeholder="Enter user Name" class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                });
                if(loopvar >1){
                    $('#pop').add(function () {
                        $('#dynamic_field').append('<tr id="row' + 2 + '"><td><input type="text" name="name[]" value= {{ userData[1][2] }} class="form-control name_list" /></td><td><button type="button" name="remove" id="' + 2 + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                    });
                }
            if(loopvar >2){
                $('#pop').add(function () {
                    $('#dynamic_field').append('<tr id="row' + 3 + '"><td><input type="text" name="name[]" value= {{ userData[2][2] }} class="form-control name_list" /></td><td><button type="button" name="remove" id="' + 3 + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                });
            }
            if(loopvar >3){
                $('#pop').add(function () {
                    $('#dynamic_field').append('<tr id="row' + 4 + '"><td><input type="text" name="name[]" value= {{ userData[3][2] }} class="form-control name_list" /></td><td><button type="button" name="remove" id="' + 4 + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                });
            }
            if(loopvar >4){
                $('#pop').add(function () {
                    $('#dynamic_field').append('<tr id="row' + 5 + '"><td><input type="text" name="name[]" value= {{ userData[4][2] }} class="form-control name_list" /></td><td><button type="button" name="remove" id="' + 5 + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                });
            }
        {#    for (i = 0; i < loopvar-1; i++){#}
        {#        $('#pop').add(function () {#}
        {#            $('#dynamic_field').append('<tr id="row' + i + '"><td><input type="text" name="name[]" value= {{ userData[1][2] }} class="form-control name_list" /></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');#}
        {#        });#}
        {#}#}


            $('#remove').click(function(){
                i++;
                $('#dynamic_field').remove();
            });
            $(document).on('click', '.btn_remove', function(){
                var button_id = $(this).attr("id");
                $('#row'+button_id+'').remove();
            });

        });

        function GetDynamicTextBox(value)
        {
            return '<input name = "DynamicTextBox"  class="dynamic"  type="text" value = "' + "mymonthname" + '" />' +
                '<input name = "DynamicTextBox1"  class="dynamic"  type="text" value = "' + "myYearname" + '" />' +
                '<input type="button" value="Remove" onclick = "RemoveTextBox(this)" />'
        }

        function AddTextBox()
        {
            var div = document.createElement('DIV');
            div.innerHTML = GetDynamicTextBox("");
            document.getElementById("TextBoxContainer").appendChild(div);
        }
    </script>


{% endblock %}
