{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <img id="homepage_profile_image" class = "profile_image" src= {{ profile_image }} alt="Profileimage" >
        <h3>Welcome, {{ page_heading_2 }}</h3>
        <div id = "form_content">
        <form id = "logout" action="{{ action }}" method="{{ method }}">
                <input type="submit" name="logout" value="Logout" href = "{{ logout }}"></a>
        </form>


                <p>{{ error }}</p>
                <br><br>
     <a class = "image_button" href='{{ logout }}'>
            <img src="../media/logout.png"
                 width="60" height="60">
       Logout </a>

        <a class = "image_button" href='{{ send_message }}'>
            <img src="../media/calendar.png"
                 width="60" height="60">
        View calendar</a>

     <a class = "image_button" href='{{ view_message }}'>
            <img src="../media/notifications.png"
                 width="60" height="60">
      Meeting requests  </a>
    <a class = "image_button" href='{{ view_upcoming }}'>
            <img src="../media/upcoming.png"
                 width="70" height="70">
      Meetings schedule  </a>
    <a class = "image_button" href='{{ events }}'>
            <img src="../media/event.png"
                 width="60" height="60">
      My events  </a>

    <a class = "image_button" href='{{ settings }}'>
            <img src="../media/settings.png"
                 width="60" height="60">
      Account settings  </a>


        </div> </div>

{% endblock %}
