{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">

<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>

<ul>
    <li><a href="{{ landing_page }}">Home</a></li>
    <li><a class = "active" href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
    <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
    <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
    <li><a href="{{ edit_profile }}">Preferences and account settings</a></li>
    <li><a href="{{ create_event }}">Create event</a></li>
    <li><a  href="{{ view_event }}">View event</a></li>
</ul>
<body>


<div id="page-content-div">
    <h3>{{ page_heading_2 }}</h3>
    {{ error }}
    <br>
{{ notes[0] }}




</div>
</body>
</html>




{% endblock %}