{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<style>
    .collapsible {
        cursor: pointer;
        padding: 12px;
        color: black;
        background: rgba(102,102,153,0.5);
        border: none;
        text-align: center;
        font-size: 15px;
    }

    .active, .collapsible:hover {

    }

    .content {
        display: none;
        overflow: hidden;
    }
</style>
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<p class="curr_page"><a href="{{ landing_page }}">Home</a>
<p class="curr_page"><a href="{{ upcoming_meetings }}">Scheduled Meetings</a>
<p class="curr_page"><a href="{{ meeting_requests }}">New Meeting Requests</a>
<p class="curr_page"><a href="{{ landing_page }}">Preferences and account settings</a></p>
<body>

<div id="page-content-div">
    <h3>{{ page_heading_2 }}</h3>
    {{ error }}
    <br>
    <form action="{{ action }}" method="{{ method }}">
        {% for code, name in OneOffHostedMeetings %}
        <option value="{{code}}">   {{ name[5] }} at {{ name[0] }}  for {{ name[2] }} on {{name[1] }}
            <a href='hostedmeetingsaction?MiD=E{{ name[6] }}'>Edit meeting</a>
            <a href='hostedmeetingsaction?MiD=D{{ name[6] }}'>Delete Meeting</a>
            {% endfor %}

            {% for code, name in HostedMeetings %}
        <option value="{{code}}"> {{ name[4] }}  at {{name[5] }} for {{ name[2] }} minutes {{ name[3] }} ({{ name[1] }})
            <a href='hostedmeetingsaction?MiD=E{{ name[0] }}'>Edit meeting</a>
            <a href='hostedmeetingsaction?MiD=D{{ name[0] }}'>Delete Meeting</a>
            <a href='hostedmeetingsaction?MiD=0{{ name[0] }}'>Disable meeting</a>
            {% endfor %}

            {% for code, name in disabledHostedMeetings %}
        <option value="{{code}}"> {{ name[4] }}  at {{name[5] }} for {{ name[2] }} minutes {{ name[3] }} ({{ name[1] }})
            <a href='hostedmeetingsaction?MiD=E{{ name[0] }}'>Edit meeting</a>
            <a href='hostedmeetingsaction?MiD=1{{ name[0] }}'>Enable meeting</a>
            <a href='hostedmeetingsaction?MiD=D{{ name[0] }}'>Delete Meeting</a>
            {% endfor %}



            </fieldset>
            <br><br>
            <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
            </fieldset>
    </form>


</div>
</body>
</html>



{% endblock %}