{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>Downloaded Message</legend>
                <p>{{ switch1 }}</p>
                <p>{{ switch2 }}</p>
                <p>{{ switch3 }}</p>
                <p>{{ switch4 }}</p>
                <p>{{ email }}</p>
                <br>
                <p>
                    <input type="radio" id="meeting_accept" name="meeting_response" value="1">
                    <label for="role_teacher">Accept</label>
                    <input type="radio" id="meeting_reject" name="meeting_response" value="0">
                    <label for="role_student">Reject</label><br>
                </p>
                <input type="submit"  value="Submit" href = "{{ submit }}"></a>
                <br>
                <p>{{ error }}</p>
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
        <p class="curr_page"><a href="{{ Send }}">View another message</a></p>
    </div>
{% endblock %}
