{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">

<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<body>
<div class = "menu-list">
    <ul>
        <li><a href="{{ landing_page }}">Home</a></li>
        <li><a class = "active" href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
        <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
        <li><a  href="{{ hosted_meetings }}">Meetings hosted</a></li>
        <li><a href="{{ edit_profile }}">Account settings</a></li>
        <li><a href="{{ create_event }}">Create event</a></li>
        <li><a href="{{ view_event }}">View event</a></li>
    </ul>
</div>


<div class="meeting_list">
    <span class="meeting_notes">
    <h3>{{ page_heading_2 }}</h3>

  <p class="note_content"> {{ notes[0] }} </p>
</span>


<div class="download_file">
    <a class="download_text"href="{{ meetingDocs }}" download>
        <img class="download_icon" src="../media/download.png"
        alt="download attached file" width="40" height="40">
        Download attached file
    </a>
</div>
</div>
</body>
{{ error }}
</html>




{% endblock %}