{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">

<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>



<body>
<div class = "menu-list">
    <ul>
        <li><a href="{{ landing_page }}">Home</a></li>
        <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
        <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
        <li><a class = "active" href="{{ hosted_meetings }}">Meetings hosted</a></li>
        <li><a href="{{ edit_profile }}">Account settings</a></li>
        <li><a href="{{ create_event }}">Create event</a></li>
        <li><a href="{{ view_event }}">View event</a></li>
    </ul>
</div>

<div class="meeting_list">
    <h2>{{ page_heading_2 }}</h2>
    {{ error }}
    <br>


    <form action="{{ action }}" method="{{ method }}">
        <button type="button" class="collapsible">Hosted Meetings</button>
        <div class="content">
            {% for code, name in OneOffHostedMeetings %}
            <div class ="meeting_details">
                <span class ="meeting_field">Subject: {{ name[5] }} </span>
                <span class ="meeting_field">At: {{ name[0] }} </span>
                <span class ="meeting_field">For: {{ name[2] }} minutes</span>
                <span class ="meeting_field">       On: {{name[1] }}</span>
            <br>
                <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=E{{ name[6] }}'>
                <img class = "meeting_icons"src="../media/edit.png"
                     alt="edit meeting" width="20" height="20">
                    </a></span>
                &emsp;
                <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=D{{ name[6] }}'>
                    <img class = "meeting_icons"src="../media/delete.png"
                         alt="delete meeting" width="20" height="20">
                    </a></span>
            </div>
                {% endfor %}
        </div>
        <br><br>
        <button type="button" class="collapsible">Active repeating hosted meetings</button>
        <div class="content">
            {% for code, name in HostedMeetings %}
            <div class ="meeting_details">
                <span class ="meeting_field"> Subject: {{ name[4] }}</span>
                <span class ="meeting_field"> At: {{name[5] }}</span>
                <span class ="meeting_field">For: {{ name[2] }} minutes </span>
                <span class ="meeting_field">{{ name[3] }} ({{ name[1] }})</span>
                <br>
               <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=E{{ name[0] }}'>
                    <img class = "meeting_icons" src="../media/edit.png"
                         alt="edit meeting" width="20" height="20">
                   </a></span>
                &emsp;
               <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=D{{ name[0] }}'>
                    <img class = "meeting_icons" src="../media/delete.png"
                         alt="delete meeting" width="20" height="20">
                   </a></span>
                &emsp;
                <span class ="meeting_field"><a href='hostedmeetingsaction?MiD=0{{ name[0] }}'>
                    <img class = "meeting_icons" src="../media/on.png"
                         alt="delete meeting" width="70" height="20">
                    </a></span>
            </div>
                {% endfor %}
                {% for code, name in disabledHostedMeetings %}
            <div class ="meeting_details">
                <span class ="meeting_field"> Subject: {{ name[4] }}</span>
                <span class ="meeting_field">At: {{name[5] }}</span>
                <span class ="meeting_field"> For: {{ name[2] }} minutes </span>
                <span class ="meeting_field">{{ name[3] }}({{ name[1] }})</span>
                    <br>
                <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=E{{ name[0] }}'>
                    <img src="../media/edit.png"
                         alt="edit" width="15" height="15">
                    </a></span>
                &emsp;
                <span class ="meeting_field"> <a href='hostedmeetingsaction?MiD=D{{ name[0] }}'>
                    <img class = "meeting_icons" src="../media/delete.png"
                         alt="delete meeting" width="20" height="20">
                    </a></span>
                &emsp;
                <span class ="meeting_field"><a href='hostedmeetingsaction?MiD=1{{ name[0] }}'>
                    <img  class = "meeting_icons" src="../media/off.png"
                         alt="delete meeting" width="70" height="20">
                    </a></span>
            </div>
                {% endfor %}
        </div>

    </form>


</div>
</body>
</html>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>



{% endblock %}