{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <ul>
            <li><a href="{{ landing_page }}">Home</a></li>
            <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
            <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
            <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
            <li><a class = "active" href="{{ edit_profile }}">Preferences and account settings</a></li>
            <li><a href="{{ create_event }}">Create event</a></li>
            <li><a href="{{ view_event }}">View event</a></li>
        </ul>
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>New User Details</legend>
                <br>
                <label for="firstname">First name:</label>
                <input id="firstname" name="firstname" type="text" value="{{ userdetails[1] }}" size="30" maxlength="50">
                <br><br>
                <label for="lastname">Last name:</label>
                <input id="lastname" name="lastname" type="text" value="{{ userdetails[2] }}" size="30" maxlength="50">
                <br><br>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text" value="{{ userdetails[0] }}" size="30" maxlength="50" disabled="disabled">
                <br><br>
                <label for="sim">Mobile Number:</label>
                <input id="sim" name="sim" type="text" value="{{ userdetails[3] }}" size="30" maxlength="12">
                <br><br>

                <br><br>

                <br><br>
                <input type="submit"  value="Update" href = "{{ update }}"></a>
                <br><br>

                <p>{{ error }}</p>
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
