{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>New User Details</legend>
                <br>
                <label for="firstname">First name:</label>
                <input id="firstname" name="firstname" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="lastname">Last name:</label>
                <input id="lastname" name="lastname" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <label for="sim">Mobile Number:</label>
                <input id="sim" name="sim" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="11">
                <br><br>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <p>Role:
                    <input type="radio" id="role_teacher" name="role" value="Teacher">
                    <label for="role_teacher">Teacher</label>
                    <input type="radio" id="role_student" name="role" value="Student">
                    <label for="role_student">Student</label><br>
                </p>
                <br><br>
                <input type="submit"  value="Register" href = "{{ register }}"></a>
                <br><br>

                <p>{{ error }}</p>
            </fieldset>
        </form>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
