{% extends 'banner.html.twig' %}
{% block content %}

    <html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
    <div class = "menu-list">
        <ul>
            <li><a href="{{ landing_page }}">Home</a></li>
            <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
            <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
            <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
            <li><a href="{{ edit_profile }}">Account settings</a></li>
            <li><a href="{{ create_event }}">Create event</a></li>
            <li><a href="{{ view_event }}">View event</a></li>
        </ul>
    </div>
    <h2>Student list</h2>



<div class="table_content">
    <input id="myInput" type="text" placeholder="Search..">
    <table>
        <thead>
        <tr>
            <th class="non-days">Email</th>
            <th class="non-days">Firstname</th>
            <th class="non-days">Lastname</th>
            <th class="non-days">Mobile number</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for code, name in userslist %}
            <tr>
                <td class="non-days">{{ name[0] }}</td>
                <td class="non-days">{{ name[1] }}</td>
                <td class="non-days">{{name[2]}}</td>
                <td class="non-days">{{name[3]}}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    </div>


    </body>
    </html>
{% endblock %}
