{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">


    <title></title>

</head>

<div class = "menu-list">
    <ul>
        <li><a href="{{ landing_page }}">Home</a></li>
        <li><a class ="active" href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
        <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
        <li><a href="{{ hosted_meetings }}">Meetings hosted</a></li>
        <li><a href="{{ edit_profile }}">Account settings</a></li>
        <li><a href="{{ create_event }}">Create event</a></li>
        <li><a href="{{ view_event }}">View event</a></li>
    </ul>
</div>
<body>

<div class="meeting_list">
    <button type="button" class="collapsible">Upcoming Meetings</button>
    <div class="content">
        {% for code, name in upcomingMeetings %}
    <div class ="meeting_details">
        <span class ="meeting_field"> Subject: {{ name[5] }}</span>
        <span class ="meeting_field">Host: {{name[3]}} </span>
        <span class ="meeting_field">On: {{name[1]}}</span>
        <span class ="meeting_field">At: {{name[0]}} </span>
        <span class ="meeting_field">For: {{ name[2] }} minutes </span>
        <span class ="meeting_field"> <a href='meetingnotes?MiD={{ name[6] }}'>
            <img class = "info_icon" src="../media/info.png"
                 alt="turn off meeting" width="20" height="20">
        </a>
        </span>
    </div>
        {% endfor %}
    </div>
    <button type="button" class="collapsible">Repeating Meetings</button>
    <div class="content">
        {% for code, name in repeatMeetings1 %}
    <div class ="meeting_details">
        <span class ="meeting_field">Subject: {{ name[4] }}</span>
        <span class ="meeting_field">Repeats: {{name[3]}} ({{name[1]}}) </span>
        <span class ="meeting_field">At: {{ name[5] }} </span>
        <span class ="meeting_field"> For: {{ name[2] }} minutes </span>
        <a href='meetingnotes?MiD={{ name[0] }}'>
            <img  class = "info_icon" src="../media/info.png"
                 alt="turn off meeting" width="20" height="20">
            </a>
    </div>
        {% endfor %}

        {% for code, name in repeatMeetings2 %}
    <div class ="meeting_details">
        <span class ="meeting_field"> Subject: {{ name[4] }}</span>
        <span class ="meeting_field">Repeats: {{name[3]}} ({{name[1]}}) </span>
        <span class ="meeting_field"> At: {{ name[5] }} </span>
        <span class ="meeting_field">For: {{ name[2] }} minutes </span>
                <a href='meetingnotes?MiD={{ name[0] }}'>
                    <img class = "info_icon" src="../media/info.png"
                         alt="turn off meeting" width="20" height="20">
                </a>
    </div>
                    {% endfor %}
    </div>
    <button type="button" class="collapsible">Expired Meetings</button>
    <div class="content">
        {% for code, name in pastMeetings %}
    <div class ="meeting_details">
        <span class ="meeting_field"> Subject: {{ name[5] }}</span>
        <span class ="meeting_field">Host: {{name[3]}} </span>
        <span class ="meeting_field"> On: {{name[1]}} </span>
        <span class ="meeting_field">At: {{name[0]}} </span>
        <span class ="meeting_field"> For: {{ name[2] }} minutes </span>
          <a href='meetingnotes?MiD={{ name[6] }}'>
           <img class = "info_icon" src="../media/info.png"
            alt="turn off meeting" width="20" height="20">
          </a>
    </div>
            {% endfor %}
    </div>
</div>
</body>
</html>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}